*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 50vh;
    margin: 100px auto;
    background-color: skyblue;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.input-box{
    width: 100%;
    border: none;
    font-size: 1.2rem;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(3, 18, 91);
    color: white;

}

.location-details{
    margin-top: 23px;
    font-weight: bold;
    /* display: none; */
    color:rgb(33, 116, 100);
    padding: 15px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: #ffe4e1;
    height: 22vh;

}
.weather-status{
    padding: 20px;
}

.temp{
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.min-max, .weather{
    font-size: 12pt;
    font-weight: 600;
}